<div class="button-container" id="{{name}}" >
    {% if radio %}
    <div class="button button--radio {{class}}">
        {% if icon %}
        <div class="document-source-icon">
        </div>
        {% endif %}
        <div class="button__loader">{% include 'components/loader_button.html' %}</div>
        <p class="button__text">{{label}}</p>
    </div>
    {% else %}
    <div class="button {{class}} {% if box %} button--box {% endif %} {% if light %} button--light {% endif %}">
        <div class="button__loader" style="width: 25px;opacity:0;">{% include 'components/loader_button.html' %}</div>
        <p class="button__text">{{label}}</p>
        <div class="button__loader__placeholder" style="width: 25px;opacity:0;">{% include 'components/loader_button.html' %}</div>
    </div>
    {% endif %}
</div>