{% load markdown_extras %}
{% load static %}

<div class="row mb-4 g-0 instruction-action">
  <div class="col p-0 m-0">

    <input type="hidden" name="action" value="{{action.pk}}">

    <!-- Action selector -->
    <div id="action-selector">
      {% include "projects/action_selector.html" %}
    </div>

    {% if instruction.action %}
    <!-- Specific action details -->
    <div id="action_details" class="m-4">

      <!-- Action form -->
      <div id="action_form">
        {% include "actions/form.html" %}
      </div>

      <div class="row mt-2 mb-0">
        <div class="col p-0">
          <button type="button" class="btn btn-primary btn-block" style="height:100%;width:100%;"
            hx-post="{% url 'projects:instruction_update' project_id=instruction.project.pk instruction_id=instruction.pk %}"
            hx-trigger="click"
            hx-target="#instructions"
            hx-indicator="#loading_message_saving_instruction_{{instruction.pk}}"
            hx-include="#forward_{{instruction.action.identifier}}_{{instruction.pk}},#instruction-text">
            {{instruction.action.action_label}}
          </button>
        </div>
      </div>

      <div style="display:none;">
        {% if forward and forward.instruction_id == instruction.pk %}
        {% if forward.forward%}
        <div id="forward_{{instruction.pk}}" hx-trigger="load" hx-post="{{forward.url}}" hx-target="{{forward.target}}"
          hx-indicator="{{forward.indicator}}" hx-include="[id='{{forward.forward}}']">Sending forward</div>
        {% else %}
        <div id="forward_{{instruction.pk}}" hx-trigger="load" hx-post="{{forward.url}}" hx-target="{{forward.target}}"
          hx-indicator="{{forward.indicator}}">Sending forward</div>
        {% endif %}
        {% endif %}
        <!-- docs -->
        <div id="forward_project_charter_check_description_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:call_action' project_id=instruction.project.pk instruction_id=instruction.pk action_id=instruction.action.pk %}">
          <input name="forward_target" value="#instruction_{{instruction.pk}}">
          <input name="forward_indicator" value="#loading_message_evaluate_document_{{instruction.pk}}">
          <input name="forward_forward" value="forward_write_document_{{instruction.pk}}">
        </div>
        <div id="forward_project_charter_create_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:write_document' project_id=instruction.project.pk document_id=instruction.project.document.pk instruction_id=instruction.pk %}">
          <input name="forward_target" value="#document">
          <input name="forward_indicator" value="#loading_message_write_document_{{instruction.pk}}">
          <input name="forward_forward" value="forward_finish_{{instruction.pk}}">
        </div>
        <!-- revise -->
        <div id="forward_project_charter_revise_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:revise_document' project_id=instruction.project.pk document_id=instruction.project.document.pk instruction_id=instruction.pk%}">
          <input name="forward_target" value="#document">
          <input name="forward_indicator" value="#loading_message_revise_document_{{instruction.pk}}">
          <input name="forward_forward" value="forward_finish_{{instruction.pk}}">
        </div>
        <div id="forward_project_charter_apply_revision_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:apply_revision' project_id=instruction.project.pk document_id=instruction.project.document.pk %}">
          <input name="forward_target" value="#document">
          <input name="forward_indicator" value="#loading_message_apply_revision_{{instruction.pk}}">
          <input name="forward_forward" value="forward_finish_{{instruction.pk}}">
        </div>
        <!-- feedback -->
        <div id="forward_feedback_advice_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:feedback' project_id=instruction.project.pk document_id=instruction.project.document.pk instruction_id=instruction.pk%}">
          <input name="forward_target" value="#document">
          <input name="forward_indicator" value="#loading_message_feedback_{{instruction.pk}}">
          <input name="forward_forward" value="forward_finish_{{instruction.pk}}">
        </div>
        <div id="forward_feedback_align_with_values_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:feedback_values' project_id=instruction.project.pk document_id=instruction.project.document.pk instruction_id=instruction.pk%}">
          <input name="forward_target" value="#document">
          <input name="forward_indicator" value="#loading_message_feedback_values_{{instruction.pk}}">
        </div>
        <!-- finish -->
        <div id="forward_finish_{{instruction.pk}}">
          <input name="forward_url"
            value="{% url 'projects:end_action' project_id=instruction.project.pk instruction_id=instruction.pk %}">
          <input name="forward_target" value="#instructions">
          <input name="forward_indicator" value="#loading_message_finish_{{instruction.pk}}">
        </div>
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_saving_instruction_{{instruction.pk}}">
        {% include "agents/message.html" with message="Saving instruction..." %}
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_evaluate_document_{{instruction.pk}}">
        {% include "agents/message.html" with message="Let me check if I have the necessary information..." %}
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_feedback_{{instruction.pk}}">
        {% include "agents/message.html" with message="I will write a guideline on how to give this feedback..." %}
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_feedback_values_{{instruction.pk}}">
        {% include "agents/message.html" with message="Checking if feedback you are giving is aligned with company values..." %}
      </div>

      <!-- Comments -->
      <div class="row mt-0 mb-0">
        <div class="col p-0">
          <div id="messages">
            {% include 'projects/messages.html' %}
          </div>
        </div>
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_write_document_{{instruction.pk}}">
        {% include "agents/message.html" with message="I'm writing the best project charter ever..." %}
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_finish_{{instruction.pk}}">
        {% include "agents/message.html" with message="Almost done!" %}
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_revise_document_{{instruction.pk}}">
        {% include "agents/message.html" with message="Let me revise the project charter..." %}
      </div>

      <div class="mt-4 htmx-indicator" id="loading_message_apply_revision_{{instruction.pk}}">
        {% include "agents/message.html" with message="I'm rewriting the project charter to include the comments..." %}
      </div>

    </div>
    
    {% endif %}
  </div>
</div>

{% if instruction.finished %}
{% if instruction.action and instruction.action.follow_message %}
  {% include "agents/message.html" with message=instruction.action.follow_message %}
{% endif %}
{% endif %}

{% block javascript %}

<script>

  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(function (stream) {
      mediaRecorder = new MediaRecorder(stream);

      document.querySelector("#recordButton").onclick = function () {
        if (mediaRecorder.state === 'recording') {
          mediaRecorder.stop();
          document.querySelector("#recordButton").innerHTML = '<i class="bi bi-mic"></i>';
        } else {
          mediaRecorder.start();
          document.querySelector("#recordButton").innerHTML = '<i class="bi bi-stop-circle"></i>';
        }
      };

      mediaRecorder.ondataavailable = function (e) {
        chunks.push(e.data);
      };

      mediaRecorder.onstop = function (e) {
        const blob = new Blob(chunks, { 'type': 'audio/ogg; codecs=opus' });
        chunks = [];
        const audioURL = window.URL.createObjectURL(blob);
        //document.querySelector("#audioElement").src = audioURL;
        document.querySelector("#instruction-text").textContent = "Transcribing audio..."
        document.querySelector("#instruction-text").classList.add("text-muted");
        // Call the function to upload audio
        uploadAudio(blob);
      };
    });

  function uploadAudio(blob) {
    let fd = new FormData();
    fd.append('audio', blob, 'audio.ogg');

    $.ajax({
      type: 'POST',
      url: 'transcribe_audio/',
      data: fd,
      processData: false,
      contentType: false
    }).done(function (data) {
      document.querySelector("#instruction-text").classList.remove("text-muted");
      document.querySelector("#instruction-text").textContent = data.fields.message;
    });
  }

  // Show actions on click of dropdown
  jQuery(".actions-dropdown").on('click', function(event) {
    event.stopPropagation();
    event.stopImmediatePropagation();
    jQuery(this).siblings(".actions-list").toggle();
  })

</script>

{% endblock %}