.chroma
.chroma/
*.pyc
*.ipynb
*.pdf
*.log
pyrightconfig.json
*.egg-info/
.vscode/
.mypy_cache/
__pycache__/
fingpt.egg-info/
*.DS_Store
.env
/prompts*
staticfiles
/db.sqlite3*
.ebextensions
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
folder.zip
