<!-- Header -->
<div class="row g-0 instruction-header" id="instruction-header-{{instruction.pk}}">
    <div class="col-auto my-auto">
        {% if instruction.finished %}
        <i class="bi bi-check-circle"></i>
        {% else %}
        <i class="bi bi-circle"></i>
        {% endif %}
    </div>
    <!-- Name -->
    <div class="col">
        <form>
            <input name="action" value="{{action.pk}}" type="hidden">
            <input name="name" value="{{instruction.type.name}}" type="text" class="instruction-header-name ms-3"
                style="width:90%"
                hx-trigger="change"
                hx-post="{% url 'instruction:type_update' instruction.type.pk %}"
                hx-swap="none" {% if not instruction.template %}disabled{% endif %}>
        </form>
    </div>
    {% if instruction.template %}
    <!-- Add Instruction Elements -->
    <div class="col-auto my-auto">
        <form>
            <input name="type" value="3" type="hidden">
            <input name="instruction_type" value="{{instruction.type.pk}}" type="hidden">
            <input name="name" value="Default" type="hidden">
            <div class="trash my-auto"
                hx-post="{% url 'instruction:element_create' instruction.pk %}"
                hx-target="#instruction-body-{{instruction.pk}}">
                {% include 'icon.html' with iconname="bi-person-plus" %}
            </div>
        </form>
    </div>
    <div class="col-auto my-auto">
        <form>
            <input name="type" value="2" type="hidden">
            <input name="instruction_type" value="{{instruction.type.pk}}" type="hidden">
            <input name="name" value="Default" type="hidden">
            <div class="trash my-auto"
                hx-post="{% url 'instruction:element_create' instruction.pk %}"
                hx-target="#instruction-body-{{instruction.pk}}">
                {% include 'icon.html' with iconname="bi-file-earmark-plus" %}
            </div>
        </form>
    </div>
    <div class="col-auto my-auto">
        <form>
            <input name="type" value="1" type="hidden">
            <input name="instruction_type" value="{{instruction.type.pk}}" type="hidden">
            <input name="name" value="Default" type="hidden">
            <div class="trash my-auto"
                hx-post="{% url 'instruction:element_create' instruction.pk %}"
                hx-target="#instruction-body-{{instruction.pk}}">
                {% include 'icon.html' with iconname="bi-plus-circle" %}
            </div>
        </form>
    </div>
    {% endif %}
    <!-- Delete Instruction Type -->
    <!-- Show only if it is not the first element -->
    {% if forloop.counter != 1 %}
    <div class="col-auto trash my-auto" hx-delete="{% url 'instruction:delete' instruction.pk %}"
        hx-include="[id='project_id']">
        {% include 'icon.html' with iconname="bi-trash" %}
    </div>
    {% endif %}
</div>

<!-- Body -->
<div id="instruction-body-{{instruction.pk}}" class="row g-0 p-3 instruction-body">
    <div id="sortable" class="col p-0 m-0">
        {% include "instruction/elements/index.html" with instruction=instruction elements=elements %}
    </div>
</div>

<script>
    jQuery(function() {
        jQuery("#sortable").sortable({
            stop: function(event, ui) {
                // Update index. We call the htmx trigger directly.
                
                jQuery(".instruction-element-container").each(function(index, element) {
                    jQuery(this).find("input[name='index']").val(index);
                    htmx.trigger("#"+jQuery(this).attr("id"), "stop");
                });
            }
        });
    });
</script>