{{instruction_type.name}}

<!-- Create new actions elements -->
<h3>Add action element</h3>
<form action="{% url 'action_element:create' instruction_type.pk %}" method="post">
    {% csrf_token %}
    {{ action_element_create_form }}
    <input type="submit" value="Submit">
</form>

<div class="row g-0">

<!-- Action elements -->
<div class="action_elements col-6 p-5">
    {% for action_element in action_elements %}
    <div id="action_element_{element.pk}" class="action_element" hx-trigger="load" hx-target="this"
        hx-get="{% url 'action_element:read' instruction_type.pk action_element.pk %}">
    </div>
    {% endfor %}
</div>