<div class="row g-0 mb-0">
  <div class="col p-0">
    <button 
      type="button"
      class="btn btn-primary btn-block"
      style="height:100%;width:100%;"
      hx-post="{% url 'action_element:call' instruction_id=instruction.pk action_element_id=element.pk %}"
      hx-trigger="click"
      hx-indicator="#loading_message_agent_call_{{action.pk}}_{{element.pk}}"
      hx-include=".instruction-input"
      hx-target="#forward">
      {{element.button_label}}
    </button>
  </div>
</div>

<div class="mt-4 htmx-indicator" id="loading_message_agent_call_{{action.pk}}_{{element.pk}}">
  {% include "agents/message.html" with message=element.working_message %}
</div>