<!-- Identifier -->
{% if instruction.template %}
<div class="row g-0">
    <div class="col">
        <p class="m-0 p-0 text-muted" style="font-style: italic;font-size: 0.8em;">
            {{instruction.type}}
        </p>
    </div>
</div>
{% endif %}

<!-- No elements -->
{% if not elements %}
<div class="row g-0">
    <div class="col">
        <p class="m-0 p-0 text-muted" style="font-style: italic;">
            Instruction has no elements; it probably hasn't been defined yet.
        </p>
    </div>
</div>
{% endif %}

<!-- Elements -->
{% for element in elements %}
<div class="instruction-element-wrapper" id="instruction-element-{{element.pk}}">
{% include 'instruction/elements/element.html' %}
</div>
{% endfor %}

<!-- Comments -->
<div class="row mt-0 mb-0">
    <div class="col p-0">
        <div id="messages">
            {% include 'instruction/messages.html' %}
        </div>
    </div>
</div>