<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <div style="width:600px;">

    <p>Estimado {{task.created_by.profile.full_name}},</p>

    <p>¡Muchas gracias por haber participado en <i>Comparte tu pitch</i>!</p>

    <p>A continuación, te devolvemos tu pitch junto al feedback que te dio nuestra IA.</p>

    <p style="color: #dd3a42; font-weight: 600; font-size: 1.2em;">Pitch</p>

    {{pitch | safe}}

    <p style="color: #dd3a42; font-weight: 600; font-size: 1.2em;">Análisis</p>

    {{analysis | safe}}

    <p>¡Te deseamos el mejor de los éxitos!</p>

    </div>

</body>

</html>