<div class="step" id="step-finish">
    <div class="step__title">
    </div>
    <div class="step__body">
        <div class="step__body__last">
            <i class="bi bi-send-check" style="font-size: 50px;"></i>
            <h2 style="margin-top:20px;">¡Hemos enviado el feedback a tu correo!</h2>
            <p>La práctica hace al maestro. ¡Éxito con tu emprendimiento!</p>
        </div>
    </div>
    <div class="step__footer">
        {% include 'components/buttonComponent/button.html' with label="Finalizar" name="btn-finish" %}
    </div>
</div>