{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .action_element {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}

<div class="section-header">
    <h3>{{action.name}}</h3>
</div>

<div class="row ps-5 pe-5 g-0">
    <div class="col p-0">
        <div id="action-nav" class="header-nav">
            <ul class="p-2 nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#" hx-target="#action-main" hx-get="{% url 'actions:read_instruction_types' action.pk %}">Flow</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="action-main">

</div>

{% endblock %}