{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .action_element {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
    }
</style>
{% endblock %}


{% block content %}

<div class="section-header">
    <h3>{{action.name}}</h3>
</div>

<!-- Form to create new actions elements -->
<form action="{% url 'action_element:create' action.pk %}" method="post">
    {% csrf_token %}
    {{ action_element_create_form }}
    <input type="submit" value="Submit">
</form>

<div class="row g-0">

    <!-- Action elements -->
    <div class="action_elements col-6 p-5">
        {% for element in action.actionelement_set.all|dictsort:"index" %}
        <div id="action_element_{element.pk}" class="action_element" hx-trigger="load" hx-target="this"
            hx-get="{% url 'action_element:read' action.pk element.pk %}">
        </div>
        {% endfor %}
    </div>
    
    <!-- Instruction -->
    <div class="action_form col-6 p-5">
        <form>
        {% for element in elements %}
        {% include element.template with action=action agent=agent element=element %}
        {% endfor %}
        </form>

        <!-- Comments -->
        <div class="row mt-0 mb-0">
            <div class="col p-0">
                <div id="messages">
                    {% include 'projects/messages.html' %}
                </div>
            </div>
        </div>

    </div>

    {% endblock %}