{% load static %}
<!-- Instruction form -->

{% for form_element in instruction.action.actionformelement_set.all %}


<div class="mt-4">
    {% include "agents/message.html" with message=form_element.guide %}
</div>

<div class="row bg-light mt-2 rounded">

    <div class="col-auto pe-2 my-auto">
        <button type="button" class="btn btn-white mb-1" id="recordButton">
            <i class="bi bi-mic"></i>
        </button><br>
        <button type="button" class="btn btn-white" id="recordButton">
            <i class="bi bi-three-dots"></i>
        </button>
    </div>

    {% if form_element.type.name == "text" %}
    <div class="col pt-2 pb-2 ps-0 mt-0">
        {% if instruction.prompt %}
        <textarea class="form-control border-0 p-3" name="prompt" id="instruction-text" rows="7"
            style="font-size: 0.9em;">{{instruction.prompt}}</textarea>
        {% else %}
        <textarea class="form-control border-0 p-3 text-muted" name="prompt" id="instruction-text"
            rows="7"></textarea>
        {% endif %}
    </div>
    {% elif form_element.type == "image" %}
    <div>
        Hola
    </div>
    {% endif %}

    <!-- Show prompt -->
    <!--<div class="row mt-2 mb-1">-->
    <div class="col-1 p-0 my-auto">
        <button type="button" class="btn btn-light btn-block" style="font-size:small" data-bs-toggle="modal"
            data-bs-target="#exampleModal" hx-post="{% url 'projects:get_prompt' project_id=1 %}"
            hx-target="#prompt_modal" hx-vals='{"prompt": "{{instruction.prompt}}"}'>
            P
        </button>
    </div>
    <!--</div>-->
</div>

{% endfor %}

<!-- Modal showing prompt -->
<div id="prompt_modal">
    {% include 'projects/modal_prompt.html' %}
</div>