<!-- List of instructions -->

<div class="row g-0">
    
    <!-- Sidebar -->
    <div id="sidebar-instructions" class="col-1 m-0 p-0">
        <h3 class="ms-2">Instructions</h3>
        {% for instruction_type in action.instructiontype_set.all %}
        <div class="row g-0 item" href="#" hx-target="#action_elements" hx-get="{% url 'instruction:read_type' instruction_type.pk %}">
            <div class="col-auto ms-2 p-0 my-auto">
                <i class="bi bi-card-text"></i>
            </div>
            <div class="col ms-2 p-0">
                {{instruction_type.name}}
            </div>
        </div>
        {% endfor %}
        <div class="row g-0 item">
            <div class="col-auto ms-2 p-0 my-auto">
                <i class="bi bi-plus-circle"></i>
            </div>
            <div class="col ms-2 p-0">
                New instruction
            </div>
        </div>

        <h3>+ New instruction</h3>
        <form action="{% url 'instruction:create_type' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Main -->


    <div id="action_elements" class="action_form col-6">
    </div>
    

    <div id="instructions" class="action_form col p-5">
        {% include 'instruction/instructions.html' with preview=1 %}
    </div>

</div>