{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4 mb-4">Agents</h1>

{% if agents %}
{% for agent in agents %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{agent.name}}</h5>
        <p class="card-text">{{agent.definition}}</p>
        <a href="{% url 'agents:detail' agent.id %}" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-primary">Delete</a>
    </div>
</div>
{% endfor %}
{% else %}
<p>No agents are available.</p>
{% endif %}

{% endblock %}
