{% load static %}
<div class="row ms-0 mb-2 me-0 mt-2 rounded agent-message my-auto">
    {% include "agents/message_profile_picture.html" with size=1 %}
    <div class="col text-left ps-0 my-auto">
        {% if edit %}
        <input class="agent-message-input" name="message" value="{{element.message}}"
            hx-trigger="change"
            hx-post="{% url 'instruction:element_update' instruction.pk element.pk %}"
            hx-swap="none">
        {% else %}
        <p>
        {{message}}
        </p>
        {% endif %}
    </div>
</div>
  