<form hx-post="call_action/" hx-target="#messages" method="POST">
    <input type="hidden" name="action" value="{{action.pk}}">

    <!-- Action selector -->
    <div class="row g-1 mb-2 pt-0 ps-0 pe-0 rounded border" hx-get="{% url 'projects:actions' 1 %}" hx-target="#actions">
        <div class="col-md-auto my-auto">
        <a href="#" style="text-decoration: none">
            <div class="mb-2 pt-2 pb-0 ps-2">
                {% if action %}
                <p class="mb-0 pb-0 text-dark">{{action.name}}</p>
                {% else %}
                <i class="text-muted">Select an action</i>
                {% endif %}
                <div id="actions" class="position-absolute mt-2"></div>
            </div>
        </a>
        </div>
    </div>

    <!-- Prompt form -->
    <div class="row g-1 bg-light pb-2 pt-2 rounded">
        <div class="col-md-auto my-auto">
            <button type="button" class="btn btn-white mb-1" id="recordButton">
                <i class="bi bi-mic"></i>
            </button><br>
            <button type="button" class="btn btn-white" id="recordButton">
                <i class="bi bi-three-dots"></i>
            </button>
        </div>
        <div class="col pt-0 mt-0">
            <textarea class="form-control border-0 text-muted" id="instruction"
                rows="3">{{action.instruction}}</textarea>
        </div>
        <div class="col-md-auto my-auto">
            <button hx-post='call_action/' type="submit"
                class="btn btn-light btn-lg pt-1 pb-1 ps-2 pe-2 text-primary font-weight-bold" value="hola" name="test">
                <i class="bi bi-arrow-right-square-fill"></i>
            </button>
        </div>
    </div>
</form>
</div>

{% block javascript %}

<script>
    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(function (stream) {
        mediaRecorder = new MediaRecorder(stream);
  
        document.querySelector("#recordButton").onclick = function () {
          if (mediaRecorder.state === 'recording') {
            mediaRecorder.stop();
            document.querySelector("#recordButton").innerHTML = '<i class="bi bi-mic"></i>';
          } else {
            mediaRecorder.start();
            document.querySelector("#recordButton").innerHTML = '<i class="bi bi-stop-circle"></i>';
          }
        };
  
        mediaRecorder.ondataavailable = function (e) {
          chunks.push(e.data);
        };
  
        mediaRecorder.onstop = function (e) {
          const blob = new Blob(chunks, { 'type': 'audio/ogg; codecs=opus' });
          chunks = [];
          const audioURL = window.URL.createObjectURL(blob);
          //document.querySelector("#audioElement").src = audioURL;
          document.querySelector("#instruction").textContent = "Transcribing audio..."
          document.querySelector("#instruction").classList.add("text-muted");
          // Call the function to upload audio
          uploadAudio(blob);
        };
      });
  
    function uploadAudio(blob) {
      let fd = new FormData();
      fd.append('audio', blob, 'audio.ogg');
  
      $.ajax({
        type: 'POST',
        url: 'transcribe_audio/',
        data: fd,
        processData: false,
        contentType: false
      }).done(function (data) {
        document.querySelector("#instruction").classList.remove("text-muted");
        document.querySelector("#instruction").textContent = data.fields.message;
        /*
        $.ajax({
          type: 'POST',
          url: 'gatekeeper/',
          data: data,
          dataType: 'json',
        }).done(function (data1) {
          console.log(data1)
          //console.log('Gatekeeper response: ' + data1.message);
          //console.log('Gatekeeper response: ' + data1.message.text);
          console.log('Gatekeeper response: Chucha');
        });
        */
      });
    }
  </script>

{% endblock %}