{% load markdown_extras %}

<div class="row ms-0 me-0 mt-1 ps-0 rounded border border-warning">
    <div class="col m-0 p-0">

        <!-- Header -->
        <div class="row m-0 pb-1 pt-1 ps-2 pe-2 text-muted shadow-sm" style="background-color: rgb(255, 255, 255);">
            <div class="col my-auto">
            </div>
            <div class="col my-auto text-muted">
            </div>
            <div class="col text-end">
                <div class="btn btn-light p-0 m-0 rounded-circle"
                    style="line-height: 1;min-height:30px; min-width:30px;"
                    hx-post="{% url 'projects:delete_message' message.pk %}"
                    hx-target="#messages">
                    <div class="align-middle" style="margin-top:0.5em;">
                        <i class="bi bi-trash text-muted"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="row p-2 m-0" style="max-height:250px; overflow-y:scroll;">
            <div class="col">
                <p>{{message.message | markdown | safe}}</p>
            </div>
        </div>

    </div>
</div>