table.dataTable a {
    text-decoration: none;
    color: #000;
}

table.dataTable a:hover {
    text-decoration: underline;
}

.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header h2 {
    font-size: 1.1em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.table__table {
    width: 100%;
    border-collapse: collapse;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 300;
    color: #aaa;
}

.table>:not(:first-child) {
    border: none;
}

table.dataTable .odd {
    background-color: #fff !important;
}

table.dataTable td.right {
    display: flex;
    align-items: center;
    justify-content: right;
}