{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4 mb-4">Projects</h1>

<div class="row">
    {% if projects %}
    {% for project in projects %}
    <div class="col-auto">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a href="{% url 'projects:project' project.id %}" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No projects are available.</p>
    {% endif %}
</div>

{% endblock %}