{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
  #instructions {
    background-color: rgb(253, 255, 249);
    max-height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 1px solid #ccc;
    padding: 1em;
    padding-bottom: 10em;
  }

  #project_header {
    background-color: #fff;
    border-bottom: #ccc 1px solid;
    padding: 1em;
  }

  #project_header h4 {
    font-size: 1em;
    margin: 0;
  }
</style>
{% endblock %}

{% block content %}

<div class="row g-0 vh-100" style="background-color:rgb(233, 246, 247); overflow-y:hidden;">
  <div class="col">

    <!-- Project header -->
    <div id="project_header">
      <div class="row g-0">
        <div class="col">
          <h4>{{project.name}}</h4>
        </div>
      </div>
    </div>

    <!-- Project body -->
    <div class="row g-0">

      <!-- Document -->
      <div class="col-6">
        <div id="document">
          {% include 'document/document.html' with document=document %}
        </div>
      </div>

      <!-- Instructions -->
      <div class="col-6">
        <div id="instructions">
          {% include 'projects/instructions.html' %}
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>

  let mediaRecorder;
  let chunks = [];

  $(document).click(function (event) {
    if (!$(event.target).closest('.actions-dropdown').length) {
      $(".actions-list").hide();
    }
  });

  // Function to hide the dropdown when the user clicks outside of it
  document.addEventListener('click', function (event) {
    /*
    const dropdownContent = document.getElementBy('actions-dropdown');
    var toggleButton = document.querySelector('#actions-list');

    // Check if the clicked element is outside the dropdown and the toggle button
    if (!dropdownContent.contains(event.target) && event.target !== toggleButton) {
      // Send a request to hide the dropdown
      $("#actions-list").hide();
    }
    */

    $(".comment").each(function () {
      // if the target of the click isn't the container nor a descendant of the container
      if (!$(this).is(event.target) && !event.target.closest(".lightbulb") && $(this).has(event.target).length === 0) {
        $(this).hide();
      }
    });
  });
</script>

{% endblock %}