{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row no-gutters vh-100" style="background-color:rgb(233, 246, 247); overflow-y:hidden;">
  <div class="col no-gutters">

    <!-- Project header -->
    <div class="row no-gutters ">
      <div class="col">
        <h4 class="ms-3 mt-4">{{project.name}}</h4>
      </div>
    </div>

    <!-- Project body -->
    <div class="row no-gutters ">

      <!-- Document -->
      <div class="col-6">
        <div id="document">
          {% include 'document/document.html' with document=document %}
        </div>
      </div>

      <!-- Instructions -->
      <div class="col-6">
        <div id="instructions" style="max-height: 90vh; overflow-x:hidden; overflow-y:scroll;">
          {% include 'projects/instructions.html' %}
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>

  let mediaRecorder;
  let chunks = [];

  $(document).click(function (event) {
    if (!$(event.target).closest('.actions-dropdown').length) {
      $(".actions-list").hide();
    }
  });

  // Function to hide the dropdown when the user clicks outside of it
  document.addEventListener('click', function (event) {
    /*
    const dropdownContent = document.getElementBy('actions-dropdown');
    var toggleButton = document.querySelector('#actions-list');

    // Check if the clicked element is outside the dropdown and the toggle button
    if (!dropdownContent.contains(event.target) && event.target !== toggleButton) {
      // Send a request to hide the dropdown
      $("#actions-list").hide();
    }
    */

    $(".comment").each(function () {
      // if the target of the click isn't the container nor a descendant of the container
      if (!$(this).is(event.target) && !event.target.closest(".lightbulb") && $(this).has(event.target).length === 0) {
        $(this).hide();
      }
    });
  });
</script>

{% endblock %}