{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row g-0 vh-100" style="background-color:rgb(233, 246, 247); overflow-y:hidden;">
  <div class="col">

    <!-- Project header -->
    <div id="project_header">
      <div class="row g-0">
        <div class="col-11">
          <input type="text" name="name" value="{{project.name}}" class="title-input" style="width:{{project.name|length}}ch;" hx-trigger="change" hx-post="{% url 'projects:update_name' project.pk %}" hx-include="this">
        </div>
        <div class="col-1">
          <button class="btn btn-light" style="color: #ddd;" hx-trigger="click" hx-post="{% url 'agents:check_project' agent.pk project.pk %}"><i class="bi bi-robot"></i></button>
        </div>
      </div>
    </div>

    <!-- Project body -->
    <div class="row g-0">

      <!-- Document -->
      <div class="col-6">
        <div id="document">
          {% include 'document/document.html' with document=document %}
        </div>
      </div>

      <!-- Instructions -->
      <div class="col-6">
        <input hidden id="project_id" name="project_id" value="{{project.pk}}">
        <div id="instructions" hx-trigger="load" hx-get="{% url 'instruction:index' %}?project={{project.pk}}" hx-target="#instructions">
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>

  let mediaRecorder;
  let chunks = [];

  jQuery(document).click(function (event) {
    if (!jQuery(event.target).closest('.actions-dropdown').length) {
      jQuery(".actions-list").hide();
    }
  });

  // Function to hide the dropdown when the user clicks outside of it
  document.addEventListener('click', function (event) {
    /*
    const dropdownContent = document.getElementBy('actions-dropdown');
    var toggleButton = document.querySelector('#actions-list');

    // Check if the clicked element is outside the dropdown and the toggle button
    if (!dropdownContent.contains(event.target) && event.target !== toggleButton) {
      // Send a request to hide the dropdown
      jQuery("#actions-list").hide();
    }
    */

    jQuery(".comment").each(function () {
      // if the target of the click isn't the container nor a descendant of the container
      if (!jQuery(this).is(event.target) && !event.target.closest(".lightbulb") && jQuery(this).has(event.target).length === 0) {
        jQuery(this).hide();
      }
    });
  });
</script>

{% endblock %}