{% extends 'body.html' %}

{% block css %}
<style>
    .action_element {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
    }

    #sidebar-instructions {
        width: 200px;
        background-color: #fff;
        position: sticky;
        top: 0;
        overflow-y: auto;
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
        overflow-x: hidden;
        border-right: #ccc 1px solid;
        min-height: 100vh;
    }

    #sidebar-instructions h3 {
        color: #777;
        font-size: 0.9em;
    }

    #sidebar-instructions .item {
        color: #444;
        font-size: 0.9em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #sidebar-instructions .item:hover {
        background-color: #eee;
    }
</style>
{% endblock %}

{% block content %}
{% include 'actions/action_main.html' %}
{% endblock %}