<div class="row action-edit ms-3 mt-3 me-3 g-0">
    <div class="col">
        
        <!-- Toolbar -->
        <div class="row g-0 toolbar mb-3" id="instruction-header-{{instruction.pk}}">
            <div class="col-auto">
                {# include 'icon_button.html' with icon="bi-plus-circle" #}
            </div>
            <div class="col-auto">
                <form>
                <input type="hidden" name="action" value="{{action.pk}}">
                <input type="hidden" name="name" value="Test">
                <div hx-trigger="click" hx-post="{% url 'instruction:type_create' %}" hx-target="#action-instructions">
                    {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-plus-circle" %}
                </div>
                </form>
            </div>
            <div class="col-auto">
                {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-three-dots" %}
            </div>
            <!-- Show only if it is not the first element -->
            {% if forloop.counter != 1 %}
            <div class="col-auto">
                {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-trash" %}
            </div>
            {% endif %}
        </div>

        <div class="row g-0">
            <!-- List of instructions -->
            <!-- Only template instructions are loaded, through :index url params -->
            <div id="action-instructions" class="col-5"
                hx-trigger="load"
                hx-get="{% url 'instruction:index' %}?template&edit&action={{action.pk}}"
                hx-target="this">
            </div>
            <!-- Selected instruction details -->
            <div id="instruction-element-details" class="col-5">
            </div>
        </div>

    </div>
</div>