<!DOCTYPE html>

{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

<html lang="en">

{% block head %}
  {% include 'head.html' %}
{% endblock %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <div class="container-fluid p-0" id="body">

    {% include 'body_header.html' %}

    <div class="row g-0">

      <!-- Sidebar -->
      {% include 'components/sidebarComponent/sidebar.html' %}

      <!-- Main -->
      <div id="main" class="col">
        {% block main-header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>

      <!-- Loading indicator -->
      {% include 'components/loader_indicator.html' with id="main-loader-wrapper" col=1 %}

      <!-- Help Sidebar -->
      {% include 'components/helpSidebarComponent/helpSidebar.html' %}

    </div>

  </div>

  {% block javascript %}
  {% endblock %}

  <div id="forward">
    {% block forward %}
    {% endblock %}
  </div>

  {% include 'components/errorMessageComponent/errorMessage.html' %}
  
  <script type="module">
    import BodyView from "{% static 'views/bodyView/body.js' %}";
    let bodyView = new BodyView("#body");
  </script>

</body>

</html>