.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #666;
    position: relative;
    border-radius: 500px;
    overflow: hidden;
}

.icon-button:not(.icon-button--disabled):hover {
    background-color: var(--background-highlight-hover) !important;
    color: #333;
}

.icon-button--white {
    background-color: #fff;
}

.icon-button--white:not(.icon-button--disabled):hover {
    background-color: var(--background-highlight-hover);
}

.icon-button--light {
    cursor: pointer;
    color: #aaa;
}

.icon-button--selected {
    background-color: var(--background-highlight);
}

.icon-button--disabled {
    color: #bbb;
}

.icon-button--disabled:hover {
    cursor: not-allowed;
    color: #bbb;
}

.icon-button--highlight {
    background-color: #fff;
}

.icon-button--highlight:hover {
    background-color: #e5dcff !important;
}

.icon-button--border {
    border: 2px solid var(--border-highlight);
}

.icon-button--header {
    color: #fff;
    background-color: #554a76 !important;
}

.icon-button--sidebar .icon {
    border-radius: 0px !important;
}

.icon-button--sidebar {
    border-radius: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-button__text {
    padding-right: var(--wrapper-padding-normal);
}