{% load markdown_extras %}

<div class="row ms-4 me-4 mb-1 mt-3 p-2 rounded text-muted" style="background-color: white;">
    <div class="col-6 my-auto">
        <div class="row p-2 rounded text-muted" style="background-color: white; border: 1px solid #eee">
            <div class="col ps-1 my-auto">
                Primera versión
            </div>
            <div class="col-1 text-end my-auto me-2">
                <i class="bi bi-chevron-down"></i>
            </div>
        </div>
    </div>
    <div class="col my-auto text-muted">
    </div>
    <div class="col text-end">
        <div class="btn btn-light p-0 m-0 rounded-circle" style="line-height: 1;min-height:40px; min-width:40px;">
            <div class="align-middle" style="margin-top:0.7em;">
                <i class="bi bi-lightbulb-fill"></i>
            </div>
        </div>
        <div class="btn btn-light p-0 m-0 rounded-circle" style="line-height: 1;min-height:40px; min-width:40px;">
            <div class="align-middle" style="margin-top:0.7em;">
                <i class="bi bi-send-fill"></i>
            </div>
        </div>
        <div class="btn btn-light p-0 m-0 rounded-circle" style="line-height: 1;min-height:40px; min-width:40px;">
            <div class="align-middle" style="margin-top:0.7em;">
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
    </div>
</div>