{% load markdown_extras %}

<div class="row text-muted g-0 ps-3 pt-2 pb-2 pe-3" style="background-color: white;">
    <div class="col-6 my-auto">
        <div class="row rounded text-muted g-0" style="background-color: white; border: 1px solid #eee">
            <div class="col ps-1 my-auto" style="font-size: 0.8em;">
                First version
            </div>
            <div class="col-1 text-end my-auto me-2">
                <i class="bi bi-chevron-down"></i>
            </div>
        </div>
    </div>
    <div class="col my-auto text-muted">
    </div>
    <div class="col text-end">
        <div class="btn btn-light p-0 m-0 rounded-circle" style="line-height: 1;min-height:30px; min-width:30px;">
            <div class="align-middle" style="margin-top:0.4em;">
                <i class="bi bi-lightbulb-fill"></i>
            </div>
        </div>
        <div class="btn btn-light p-0 m-0 rounded-circle" style="line-height: 1;min-height:30px; min-width:30px;">
            <div class="align-middle" style="margin-top:0.4em;">
                <i class="bi bi-send-fill"></i>
            </div>
        </div>
        <div class="btn btn-light p-0 m-0 rounded-circle" style="line-height: 1;min-height:30px; min-width:30px;">
            <div class="align-middle" style="margin-top:0.4em;">
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
    </div>
</div>