{% extends 'body.html' %}

{% load markdown_extras %}
{% load static %}

{% block content %}

{% include 'document/document.html' %}

<button type="button"
    hx-trigger="click"
    hx-get="{% url 'document:document_header' document.pk %}"
    hx-target="#document-header-{{document.pk}}">Update header</button>
<button type="button" 
    hx-trigger="click"
    hx-get="{% url 'document:document_body' document.pk %}"
    hx-target="#document__body-{{document.pk}}"
    hx-indicator="#document__body-{{document.pk}}-indicator">Update body</button>
<button type="button"
    hx-trigger="click"
    hx-post="{% url 'document:document_header' document.pk %}"
    hx-target="#document-header-{{document.pk}}"
    hx-include="[id='forward_document_body']">Update all</button>

{% endblock %}