<a class="col-auto breadcrump-element {% if active %}active{% endif %}"
    {% if url %}
        {% if urlparam %}
            href="{% url url urlparam %}"
        {% else %}
            href="{% url url %}"
        {% endif %}
    {% endif %}
    >

    <div class="row g-0">
        {% if icon %}
        <div class="col-auto breadcrump-element-icon">
            <i class="bi {{icon}}"></i>
        </div>
        {% endif %}
        <div class="col-auto breadcrump-element-text {% if active %}active{% endif %}">
            <p href="#" {% if italic %} style="font-style: italic;" {% endif %}>{{text}}</p>
        </div>
        {% if dropdown %}
        <div class="col-auto breadcrump-element-dropdown">
            <i class="bi bi-caret-down-fill"></i>
        </div>
        {% endif %}
    </div>
</a>