<html>
<head>
    <title>Socket Test</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
    <input type="text" id="connection" />
    <button id="button">test</button>
    <script>
        // Click 0of button
        document.getElementById("button").addEventListener("click", function(){
            console.log("button clicked");
            console.log(Cookies.get("csrftoken"));
            jQuery.ajax({
                url: "/send_email/",
                type: "POST",
                data: {
                    "crsfmiddlewaretoken": Cookies.get("csrftoken"),
                },
                success: function(response) {
                    console.log("success", response);
                },
                error: function(response) {
                    console.log("error", response);
                }
            })
        });
    </script>
</body>
</html>
