{% load keyvalue %}
<form class="instruction-element-container" id="element-{{element.pk}}"
    hx-post="{% url 'instruction:element_update' instruction.pk element.pk %}"
    hx-trigger="stop"
    hx-swap="none">
    <input type="hidden" name="name" value="{{element.name}}">
    <input type="hidden" name="index" value="{{element.index}}">
    <div class="row g-0 instruction-element-content {% if instruction.template %}template{% endif %}">
        {% if instruction.template %}
        <div class="col-auto my-auto">
            {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-three-dots-vertical" %}
        </div>
        {% endif %}
        <div class="col">
            <form>
                <div id="element-inner-{{element.pk}}">
                    {% include element.template with element=element data=instruction.data action=instruction.type.action agent=agent edit=instruction.template %}
                </div>
            </form>
        </div>
        {% if instruction.template %}
        <div class="col-auto my-auto" hx-post="{% url 'instruction:element_delete' instruction.pk element.pk %}"
            hx-target="#element-{{element.pk}}" hx-swap="outerHTML">
            {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-trash" %}
        </div>
        <div class="col-auto my-auto" hx-get="{% url 'instruction:element_details' instruction.pk element.pk %}"
            hx-target="#instruction-element-details" hx-swap="innerHTML">
            {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-info-circle" %}
        </div>
        {% endif %}
    </div>
</form>