{% load keyvalue %}

<div class="instruction-element instruction-element__text-input {% if flow %} instruction-element--flow instruction-element--flow__text-input {% endif %}" data-id ={{element.id}} data-type="{{element.type.name}}">
    {% if flow %}
    <div class="instruction-element__header instruction-element--flow__header">
        <h2 class="instruction-element__header__title">{{element.flow_title}}</h2>
        {% include 'components/buttonComponent/button.html' with label="Volver a grabar" name="btn-rerecord-record" box=1 %}
    </div>
    <div class="instruction-element__body instruction-element--flow__body">
        <div class="icon record-icon" id="btn-start-record-icon">
            <i class="bi bi-mic"></i>
            <div class="pulse"></div>
            <div class="pulse"></div>
            <div class="pulse"></div>
        </div>
        <div class="timer" id="timer">
            <h3>4:00</h3>
        </div>
        <textarea class="instruction-input" name="{{element.name}}" id="instruction-text" rows="5">{{data|keyvalue:element.name}}</textarea>
    </div>
    <div class="instruction-element__footer instruction-element--flow__footer">
        {% include 'components/buttonComponent/button.html' with label="Reiniciar" name="btn-restart-record" box=1 %}
        {% include 'components/buttonComponent/button.html' with label="Grabar" name="btn-start-record" box=1 %}
        {% include 'components/buttonComponent/button.html' with label="Finalizar" name="btn-stop-record" box=1 %}
    </div>
    {% else %}
    <div class="col text-input-textarea-wrapper">
        <textarea class="instruction-input" name="{{element.name}}" id="instruction-text" rows="5">{{data|keyvalue:element.name}}</textarea>
    </div>
    <div class="col-auto p-1 my-auto" id="recordButton">
        {% include 'components/iconButtonComponent/iconButton.html' with icon="bi-mic" %}
    </div>
    {% endif %}
</div>

<div class="instruction-element__text-input__indicator">
    <div class="transcribing">
        {% include 'components/loader.html' %}
        <h3>Estamos procesando tu pitch</h3>
    </div>
</div>