<!DOCTYPE html>

{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<!--{% bootstrap_javascript %}-->

<html lang="en">

{% block head %}
  {% include 'head.html' %}
{% endblock %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <div class="container-fluid p-0">

    {% include 'header.html' %}

    <div class="row g-0">

      <div id="sidebar" class="col-1">
        {% include 'menu.html' %}
      </div>

      <!-- main content -->
      <div id="main" class="col">
        {% block content %}
        {% endblock %}
      </div>

    </div>
  </div>

  {% block javascript %}
  {% endblock %}

  <script>
    // Collapse body when header is clicked
    function clickInstructionHeader(event) {
      clickedElement = jQuery(event.target)
      if (!clickedElement.hasClass('trash')) {
        targetElement = clickedElement.closest('.instruction-header');
        // Hide all elements except the one we clicked
        jQuery(".instruction-body").not(targetElement.siblings(".instruction-body")).hide();
        // Now toggle the element we clicked
        targetElement.siblings(".instruction-body").toggle();
        // We do it this way so that only one is open, but also the one open can be closed so that all are closed.
      }
    }
  </script>

  <div id="forward">
    {% block forward %}
    {% endblock %}
  </div>

</body>

</html>