{% load socialaccount %}
{% load static %}

<div class="row g-0 header">
    <div class="col-auto ps-4">
        <div class="logo">
            <p>WorkWise</p>
        </div>
    </div>
    <div class="col">
    </div>
    <div class="col-auto p-0">
        {% if user.is_authenticated %}
        <div class="icon my-auto me-3">
            {% include "icon.html" with background="#554a76" color="#fff" iconname="bi-patch-question-fill" %}
        </div>
        {% endif %}
    </div>
    <div class="col-auto p-0">
        {% if user.is_authenticated %}
        <div class="icon me-2">
            {% include "icon.html" with background="#554a76" color="#fff" iconname="bi-bell-fill" %}
        </div>
        {% endif %}
    </div>
    <div class="col-auto" style="padding: 0em 1.5em 0em 0.5em;">
        <div class="profile-image-wrap" style="position: relative;">
            <a href="#">
                {% if user.is_authenticated %}
                <img src="{{user.profile.picture.url}}" class="img-profile" onclick="toggleProfileDropdown()">
                {% else %}
                <div onclick="toggleProfileDropdown()">
                {% include "icon.html" with background="#554a76" color="#fff" iconname="bi-person-fill" %}
                </div>
                {% endif %}
            </a>
            <div class="profile-dropdown-wrap" id="profile-dropdown">
                <div class="profile-dropdown">
                    {% if user.is_authenticated %}
                    <div class="profile-dropdown-info">
                        <img src="{{user.profile.picture.url}}" class="img-profile-dropdown">
                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                    </div>
                    <hr>
                    <a href="#" class="profile-dropdown-link">
                        {% include "icon.html" with iconname="bi-gear-fill" %}
                        <p>Settings & Privacy</p>
                    </a>
                    <a href="{% url 'logout' %}" class="profile-dropdown-link">
                        {% include "icon.html" with iconname="bi-door-open-fill" %}
                        <p>Logout</p>
                    </a>
                    <!-- Not Authenticated -->
                    {% else %}
                    <!--<a href="{% provider_login_url 'google' %}?next=/" class="profile-dropdown-link">-->
                    <a href="{% url 'account_login' %}?next=/" class="profile-dropdown-link">
                        {% include "icon.html" with iconname="bi-door-open-fill" %}
                        <p>Login</p>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function toggleProfileDropdown() {
        console.log("hola")
        $("#profile-dropdown").toggleClass("show")
    }
</script>