{% extends 'base.html' %}

{% load markdown_extras %}
{% load static %}

{% block content %}

<!-- Search -->

<div class="row ps-5 g-0">
    <div class="col-6 pt-5">

        <div class="input-group input-group-lg mt-3 mb-5">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="bi bi-mic-fill"></i></span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" placeholder="Tell us your issue, and we'll find a solution for you.">
        </div>

    </div>
</div>

<div class="row ps-5 g-0">
    <div class="col-12">

        <!-- Agents & Actions -->
        <div style="width:100%;height:100vh;">
            {% for agent in agents %}
            {% include 'agents/card.html' with show_actions=1 %}
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}